/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg{
        height: 80px;
        width: 62px;
    }
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 80px;
}

nav a {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    border-top: 4px solid transparent;
}

nav a.active{
    border-top: 4px solid var(--main-color);
    color: var(--main-color);
}
nav a:hover{
    color: var(--main-color);
    border-top: 4px solid var(--main-color);
}

.card{
    cursor: pointer;
}
.informations{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 35px;
    .headline{
        display: flex;
        flex-direction: column;
        gap: 8px;
        h2{
            font-size: 22px;
        }
    }
    .searchbar{
        display: flex;
        height: 49px;
        .icon{
            height: 100%;
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px 15px;
            background: var(--main-bg-color);
            border-radius: 15px 0 0 15px;
        }
        input{
            /*border-radius: 10px;*/
            text-align: center;
            border: none;
            outline: none;
            border-top: 1px solid var(--main-bg-color);
            border-bottom: 1px solid var(--main-bg-color);
            font-size: 18px;
            font-weight: 700;
            &::placeholder{
                color: black;
            }
        }
        button{
            padding: 15px;
            border-radius: 0 15px 15px 0;
            border: none;
            outline: none;
            background: var(--main-color);
            color: white;
            font-weight: 700;
            font-size: 18px;
            cursor: pointer;
        }
        .search-icon{
            display: none;
        }
    }
    .filters{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        .title{
            font-weight: 700;
        }
        .filter{
            height: 40px;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 4px 19px;
            border: 2px solid var(--main-bg-color);
            border-radius: 50px;
            cursor: pointer;
            
            .text{
                font-size: 17px;
                font-weight: 700;
            }
            .icon{
                height: 22px;
                width: 22px;
                svg{
                    height: 100%;
                    width: 100%;
                }
            }
            &:hover{
                background: var(--filter-bg-color);
            
            }
        }
    }
    .infobar{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.hebergements {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .cards{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        
        
    }
    .more{
        font-size: 18px;
        font-weight: 700;
    }
    .card{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;
        img{
            border-radius: 15px 15px 0 0;
            aspect-ratio: 16/9;
        }
        .info{
            display: flex;
            flex-direction: column;
            padding: 5px;
            h3{
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 5px;
            
            }
        }
        
    }
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    flex: 4;
    
}

/****** Populaires ***********/
.populaires {
    flex: 2;
    min-width: 350px;
    /*min-width: 700px;*/
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    a {
        flex: 1;
        min-width: 300px;
    }
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    /*min-width: 300px;*/
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.activites{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
    .cards{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 25px;
    }
    .more{
        font-size: 18px;
        font-weight: 700;
    }
    .card{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;
        padding: 0;
        img{
            border-radius: 15px 15px 0 0;
            height: 400px;
            width: 100%;
            
        }
        .info{
            display: flex;
            flex-direction: column;
            padding: 15px;
            height: 65px;
            
            h3{
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 5px;

            }
        }

    }

}


footer{
    background: #F2F2F2;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    .column{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        .column-title{
            font-weight: 700;
            
        }
        a{
            font-size: 14px;
        }
    }
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .populaires-cards a {
        min-width: 275px;
        flex: 1;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0;
    }
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        nav{
            width: 100%;
            justify-content: center;
            height: 36px;
            a{
                flex: 1;
                border-top: none !important;
                height: 100%;
                padding-bottom: 15px;
                text-align: center;
            }
            a.active{
                border-bottom: 4px solid var(--main-color) !important;
            }
        }
    }
    .informations{
        padding: 25px;
        .filters{
            .title{
                width: 100%;
            }
            .filter{
                flex: 1;
            }
        }
    }
    .populaires-cards a {
        min-width: 100%;
        flex: 1;
    }
    
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        section {
            border-radius: 0 !important;
        }
        
    }
    .hebergements{
        background-color: white !important;
    }
    
    footer{
        flex-direction: column;
        gap: 35px;
        padding: 25px;
        .column{
            gap: 15px;
        }
    }
    
    .activites{
        padding: 25px;
        .cards{
            flex-direction: column;
            width: 100%;
            .card{
                width: 100%;
                img{
                    aspect-ratio: 16/9;
                }
            }
        }
    }
    
    .searchbar{
        min-width: 300px;
        button{
            display: none;
        }
        .search-icon{
            
            background: #0065FC;
            height: 50px;
            width: 50px;
            flex-shrink: 0;
            border-radius: 15px;
            display: flex !important;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transform: translateX(-15px);
            box-shadow: 0px 4px 4px 0px #00000040;

        }
    }
    
    
}
